<header class="row align-items-center">

  <div class="col-9 col-md-6 cont-logo">

    <button class="hamburger" type="button" (click)="BtnMenu()">
      <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </button>

    <img id="logo" class="img-fluid" src="/assets/images/logo.png" alt="Rackforce">
  
  </div>

  <div class="col-3 col-md-6 cont-menu-header">

    <ul class="nav">
      <li>
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </li>
    </ul>

  </div>

</header>